<form [formGroup]="service.form" class="normal-form">
    <mat-grid-list cols="1" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="userID">
                <mat-form-field>
                    <input formControlName="userName" matInput placeholder="User Name*">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="Name*">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email*">
                    <mat-error *ngIf="service.form.controls['email'].errors?.required">This field is mandatory.</mat-error>
                    <mat-error *ngIf="service.form.controls['email'].errors?.email">Invalid email address.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="phone" matInput placeholder="Phone">
                    <mat-error>Minimum 8 characters needed.</mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid" (click)="onSubmit()">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>

                </div>
            </div>
        </mat-grid-tile>
       
    </mat-grid-list>

</form>
