<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Users</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <app-user-list></app-user-list>
</div>