/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

div.container{
    margin: 0px 40px;

}

.fill.remaining-space{
    flex: 1 1 auto;
}

form.normal-form {
    margin:10px
}
.controles-container{
    width: 100%;
    padding: 5%;
}

.controles-container > *{
    width: 100%;
}

.button-row button{
    margin:5px
}


/* notification */
snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }


  snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;

  }

  .hide{
    display: none;
}
/* mat-table */
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

.add-div{
    margin: 10px;
      }